@import "bootstrap.css";

label 
{
    font-weight: normal !important;
}

.firstLevelAnswer
{
margin-left: 10px;	
}

.secondLevelAnswer
{
margin-left: 30px;	
}

.thirdLevelAnswer
{
margin-left: 60px;	
}



.big-checkbox {width: 15px; height: 15px;}