@import "bootstrap.css";

label 
{
    font-weight: normal !important;
}

.answers
{
margin-left: 10px;	
}

.subanswers
{
margin-left: 30px;	
}

.subsubanswers
{
margin-left: 60px;	
}



.big-checkbox {width: 15px; height: 15px;}